
<div class="container">
  <div class="linksbox">
  <%= link_to "Write Post", new_post_url %>
  <%= link_to "Sign out", destroy_user_session_path, method: "DELETE" %>
  </div>

  <div>
  <h1 id="usertitle"> Your Remedy Posts </h1>
  <% @posts.where(user_id: current_user.id).each do |post| %>
    <div class="textbox">
      <h4><%= post.title %></h4><br>
      <p><%= post.body %></p><br>
      <br>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Show', post_path(post) %>
    </div>
  <%end%>
  </div>

  <div>
  <h1 id="othertitle"> Other Home Remedy Posts</h1>
  <% @posts.where.not(user_id: current_user.id).each do |post| %>
    <div class="textbox">
      <h4><%= post.title %></h4>
      <p><%= post.body %></p>
      <p><%= "By #{post.user.email}" %></p>
    </div>
  <% end %>
  </div>
<div>
